@import "tailwindcss";

:root {
  --background: #f8f6f6;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-prompt), Helvetica, sans-serif;
}
